html,body {
   margin:0;
   padding:0;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 50px 15px 20px 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.long-text-cell {
    font-size: 11px;
    min-width: 240px;
}

td,th{
    font-size:12px;
}




